@import "mixins/mixins";
* {
  text-decoration: none;
  color: white;
}
body {
  margin: 0 auto;
}
.main_header {
  background-color: black;
  width: 100vw;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  .inner_container {
    @include size(85vw, 20%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .upper-header {
      @include center;
      @include size(inherit, 20vh);
      // border: 1px solid red;
      display: flex;
      justify-content: space-between;

      .stock {
        margin-left: 1.25vw;
        font-size: 1.5em;
      }
      .selected {
        :nth-child(1) {
          .heart_img {
            margin-right: 0.52vw;
          }
        }
        .history_img {
          margin-right: 0.89vw;
          margin-left: 1.15vw;
        }
      }

      a {
        color: white;
      }
      .stock_img {
        width: 1.46vw;
      }
      .heart_img {
        width: 1.2vw;
      }
      .history_img {
        width: 1.15vw;
      }
    }
    .center-header {
      @include size(85vw, auto);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // position: relative;
      span {
        ::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 70%; /* 1 */
          height: 100%;
          background: linear-gradient(
            to right,
            rgba(7, 7, 7, 0) 0%,
            rgb(0, 0, 0) 100%
          ); /* 2 */
        }
      }
      ::placeholder {
        @include text(4.5rem, #ffffff, normal, inherit, inherit);
      }
      .input_search {
        @include size(25vw, 10vh);
        @include text(4.5rem, #ffffff, normal, inherit, inherit);
        background-color: #000000;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      span {
        @include size(100%, 0.05vh);
        margin-top: 4vh;
        background-color: #ffffff;
      }
    }
    // down_header
    .down_header {
      @include size(89.5vw, 15vh);
      // border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      .inner_down_header {
        @include size(inherit, 3vh);
      }

      a {
        margin-right: 0.9vw;
        @include text(1.125em, #ffffff);
      }
    }
  }
}

.main_section {
  @include size(100%, auto);

  .upper_section {
    @include center;
    @include size(inherit, 20vh);
    // border: 1px solid red;

    img {
      @include size(1.2vw, auto);
      margin-right: 1.04vw;
    }
  }

  .down_section {
    @include size(70%, auto);
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;

    .img_container1 {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      @include size(25vw, 350vh);
      // border: 1px solid red;
      .span_container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 25vw;
        right: 8.5vw;
        img {
          width: 3.65vw;
        }
        span,
        a {
          color: #ffffff;
        }
        span {
          font-size: 1.1rem;
        }
        a {
          font-size: 0.8rem;
        }
      }
      img {
        width: 25vw;
      }
    }

    .img_container2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include size(25vw, 350vh);
      img {
        width: 25vw;
      }
    }
    .img_container3 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include size(25vw, 350vh);
      img {
        width: 25vw;
      }
    }
  }
  .right_btn {
    @include size(1%, 3.4vw);
    display: flex;
    align-self: flex-end;
    .up_btn {
      @include size(2.5vw, 2.5vw);
      color: #ffffff;
      border-radius: 8px;
      border: white;
      img {
        @include size(0.83vw, 0.83vw);
        margin: 0;
      }
    }
  }
  .loading_block {
    display: flex;
    justify-content: center;
    .loading_icon {
      @include size(1.41vw, 1.41vw);
    }
  }
}

// media queries

@media (max-width: 1500px) {
  .inner_down_header {
    a {
      font-size: 90% !important;
    }
  }
}

@media (max-width: 1200px) {
  .inner_down_header {
    a {
      font-size: 80% !important;
    }
  }
}

@media (max-width: 1100px) {
  .inner_down_header {
    a {
      font-size: 70% !important;
    }
  }
}

@media (max-width: 940px) {
  .inner_down_header {
    a {
      font-size: 56% !important;
    }
  }
}

@media (min-width: 1921px) {
  .inner_down_header {
    a {
      font-size: 2em !important;
    }
  }
  .stock {
    font-size: 3em !important;
    img {
      width: 2.46vw !important;
    }
  }
  .selected {
    :nth-child(1) {
      font-size: 2em;
      img {
        
      }
    }
    :nth-child(2) {
      font-size: 2em;
    }
  }
}
