@import "mixins/mixins";
* {
  text-decoration: none;
  color: white;
}
body {
  margin: 0 auto;
}
.main_header {
  background-color: black;
  width: 100vw;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  .inner_container {
    @include size(85vw, 20%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .upper-header {
      @include center;
      @include size(inherit, 20vh);
      // border: 1px solid red;
      display: flex;
      justify-content: space-between;

      .stock {
        margin-left: 1.25vw;
        font-size: 1.5em;
      }
      .selected {
        :nth-child(1) {
          .heart_img {
            margin-right: 0.2vw;
          }
        }
        .history_img {
          margin-right: 0.2vw;
          margin-left: 1.15vw;
        }
      }

      a {
        color: white;
      }
      .stock_img {
        width: 1.46vw;
      }
      .heart_img {
        width: 1.2vw;
      }
      .history_img {
        width: 1.15vw;
      }
    }
    .center-header {
      @include size(85vw, auto);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // position: relative;
      span {
        ::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 70%; /* 1 */
          height: 100%;
          background: linear-gradient(
            to right,
            rgba(7, 7, 7, 0) 0%,
            rgb(0, 0, 0) 100%
          ); /* 2 */
        }
      }
      ::placeholder {
        @include text(1em, #ffffff, normal, inherit, inherit);
      }
      .input_search {
        @include size(20vw, 10vh);
        @include text(4.5em, #ffffff, normal, inherit, inherit);
        background-color: #000000;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      span {
        @include size(100%, 0.05vh);
        margin-top: 4vh;
        background-color: #ffffff;
      }
    }
    // down_header
    .down_header {
      @include size(89.5vw, 15vh);
      // border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      .inner_down_header {
        @include size(inherit, 3vh);
      }

      a {
        margin-right: 0.9vw;
        @include text(1.125em, #ffffff);
      }
    }
  }
}

.main_section {
  @include size(100%, auto);

  .upper_section {
    @include center;
    @include size(inherit, 20vh);
    // border: 1px solid red;

    img {
      @include size(1.2vw, auto);
      margin-right: 1.04vw;
    }
  }

  .down_section {
    @include size(70%, auto);
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;

    .img_container1 {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      @include size(25vw, 20vh);
      // border: 1px solid red;
      .span_container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 25vw;
        right: 8.5vw;
        img {
          width: 3.65vw;
        }
        span,
        a {
          color: #ffffff;
        }
        span {
          font-size: 1.1em;
        }
        a {
          font-size: 0.8em;
        }
      }
      img {
        width: 25vw;
      }
    }

    .img_container2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include size(25vw, 20vh);
      img {
        width: 25vw;
      }
    }
    .img_container3 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include size(25vw, 20vh);
      img {
        width: 25vw;
      }
    }
  }
  .right_btn {
    @include size(1%, 3.4vw);
    display: flex;
    align-self: flex-end;
    .up_btn {
      @include size(2.5vw, 2.5vw);
      color: #ffffff;
      border-radius: 8px;
      border: white;
      img {
        @include size(0.83vw, 0.83vw);
        margin: 0;
      }
    }
  }
  .loading_block {
    display: flex;
    justify-content: center;
    .loading_icon {
      @include size(1.41vw, 1.41vw);
    }
  }
}

// media queries

@media (max-width: 1500px) {
  .inner_down_header {
    a {
      font-size: 90% !important;
    }
  }
}

@media (max-width: 1441px) {
  .inner_down_header {
    width: 75.5vw !important;
  }
  .input_search {
    width: 16vw !important;
  }
  .center-header {
    span {
      width: 90% !important;
    }
  }
  .upper_section {
    height: 16vh !important;
  }
  .span_container {
    span {
      font-size: 0.9em !important;
    }
  }
}

@media (max-width: 1200px) {
  .inner_down_header {
    a {
      font-size: 80% !important;
    }
  }
}

@media (max-width: 1100px) {
  .inner_down_header {
    width: 81.5vw !important;
    a {
      font-size: 70% !important;
    }
  }
  .stock {
    font-size: 1em !important;
  }
  .center-header {
    font-size: 0.8em !important;
    span {
      width: 93% !important;
    }
  }
  .selected {
    :nth-child(1) {
      font-size: 0.8em;
    }
    :nth-child(2) {
      font-size: 0.8em;
    }
  }
  .input_search {
    width: 19vw !important;
  }
  .span_container {
    right: 7vw !important;
    span {
      font-size: 0.8em;
    }
    a {
      font-size: 0.7em !important;
    }
  }
  .upper_section {
    height: 14vh !important;
  }
}

@media (max-width: 940px) {
  .inner_down_header {
    a {
      font-size: 56% !important;
    }
  }
}

@media (max-width: 769px) {
  .center-header {
    // .input_search {
    //   width: 17vw !important;
    // }
    font-size: 0.6em !important;
    span {
      width: 90% !important;
    }
  }
  .inner_down_header {
    width: 78.5vw !important;
    a {
      font-size: 50% !important;
    }
  }
  .upper_section {
    height: 12vh !important;
  }
  .span_container {
    right: 6vw;
    span {
      font-size: 0.8em !important;
    }
    a {
      font-size: 0.7em !important;
    }
  }
}
@media (max-width: 426px) {
  .down_header {
    width: 72.5vw !important;
  }
  .main_header {
    min-height: 42vh !important;
  }
  .upper-header {
    height: 16vh !important;
  }
  .stock {
    :nth-child(1) {
      img {
        width: 6.9vw !important;
      }
    }
    :nth-child(2) {
      display: none !important;
    }
  }
  .selected {
    :nth-child(1) {
      img {
        width: 5.71vw !important;
      }
    }
    :nth-child(2) {
      display: none;
    }
    :nth-child(3) {
      img {
        width: 5.71vw !important;
      }
    }
    :nth-child(4) {
      display: none;
    }
  }
  .center-header {
    font-size: 0.5em !important;
  }
  .input_search {
    width: 26vw !important;
    height: 6vh !important;
  }
  .down_header {
    height: 8vh !important;
  }
  .inner_down_header {
    :nth-child(n + 4) {
      color: red !important;
      display: none;
    }
    :nth-child(1),
    :nth-child(2),
    :nth-child(3) {
      font-size: 1.125em !important;
    }
  }
  .upper_section {
    :nth-child(1) {
      img {
        width: 5.48vw !important;
      }
    }
    :nth-child(2) {
      img {
        width: 5.48vw !important;
      }
    }
  }
}

@media (min-width: 1921px) {
  .inner_down_header {
    a {
      font-size: 2em !important;
    }
  }
  .stock {
    font-size: 3em !important;
    img {
      width: 2.46vw !important;
    }
  }
  .selected {
    :nth-child(1) {
      font-size: 2em;
      img {
      }
    }
    :nth-child(2) {
      font-size: 2em;
    }
  }
  .center-header {
    ::placeholder {
      @include text(10em, #ffffff, normal, inherit, inherit);
    }
  }
  .center-header {
    .input_search {
      width: 17vw !important;
    }
    font-size: 2.2em !important;
  }
  .span_container {
    top: 24vw !important;
    right: 9.5vw !important;
  }
}
