@import "mixins/mixins";
* {
	text-decoration: none;
	color: white;
}
body {
	margin: 0 auto;
}
.main_header {
	background-color: black;
	width: 100vw;
	min-height: 50vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	.inner_container {
		@include size(80vw, 90x);

		.upper-header {
			@include center;
			@include size(inherit, 20vh);
			// border: 1px solid red;
			display: flex;
			justify-content: space-between;

			.stock {
				margin-left: 1.25vw;
				font-size: 1.5rem;
			}
			.selected {
				.heart_img {
					margin-right: 0.52vw;
				}
				.history_img {
					margin-right: 0.89vw;
					margin-left: 1.15vw;
				}
			}

			a {
				color: white;
			}
			.stock_img {
				width: 1.46vw;
			}
			.heart_img {
				width: 1.2vw;
			}
			.history_img {
				width: 1.15vw;
			}
		}
		.center-header {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			::placeholder {
				@include text(4.5rem, #ffffff, normal, inherit, inherit);
			}
			.input_search {
				@include size(15vw, 10vh);
				@include text(4.5rem, #ffffff, normal, inherit, inherit);
				background-color: #000000;
				border: none;
				outline: none;
			}
			span {
				@include size(100%, 0.05vh);
				margin-top: 4vh;
				background-color: #ffffff;
			}
		}
		// down_header
		.down_header {
			@include size(89.5vw, 21vh);
			// border: 1px solid red;
			display: flex;
			justify-content: center;
			align-items: center;

			a {
				margin-right: 0.9vw;
				@include text(1.125rem, #ffffff);
				background: linear-gradient(rgba(0, 0, 0, 0) 0% #000000 100%);
			}
		}
	}
}

.main_section {
	@include size(100%, auto);

	.upper_section {
		@include center;
		@include size(inherit, 20vh);
		// border: 1px solid red;

		img {
			@include size(1.2vw, auto);
			margin-right: 1.04vw;
		}
	}

	.down_section {
		@include size(90%, auto);
		// border: 1px solid red;
		margin: 0 auto;

		.img_container1 {
			display: flex;
			flex-direction: column;
			// border: 1px solid red;
			img {
				margin-top: 1.35vw;
			}
			.img1 {
				@include size(24.74vw, 13.54vw);
			}
			.img2 {
				@include size(24.79vw, 37.24vw);
			}
			.img3 {
				@include size(24.79vw, 13.54vw);
			}
			.img4 {
				@include size(24.79vw, 24.79vw);
			}
			.img5 {
				@include size(24.79vw, 13.54vw);
			}
			.img6 {
				@include size(24.79vw, 24.79vw);
			}
			.img7 {
				@include size(24.79vw, 36.93vw);
			}
		}

		// .img_container2 {
		// 	display: inline-block;
		// 	display: flex;
		// 	flex-direction: row;
		// 	justify-content: center;

		// 	.img4 {
		// 		@include size(24.79vw, 37.24vw);
		// 	}
		// 	.img5 {
		// 		@include size(24.79vw, 13.54vw);
		// 	}
		// }
	}
}
